* {
  margin: 0;
  padding: 0;
  border: 0;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: ;
  font-size: 17px;
  color: black;
  line-height: 1.6;
  background-color:;
  scroll-behavior: smooth;
}
.clear {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.2em
}
h2 {
  font-size: 2.0em;

}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
p {
  font-size: 1.2em;
}
.elements {
  color: #e06c60;
}
.value {
  color: #d19a66;
}
