
header {
  text-align: center;
  font-size: 1.5em;
  font-family: 'IBM Plex Sans', sans-serif;
}
nav {
  height: 100%;
  width: 12.5%;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
  position: fixed;
  overflow: auto;
  background-color: #f1f1f1;
  cursor: pointer;
}
nav a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 8px 16px;
  border-bottom: 1px solid #555;
}
nav a:last-child {
  border-bottom: none;
}
nav a:hover{
  background-color: #555;
  color: white;
  text-align: right;
}
.active {
  background-color: tomato;
  color: white;
}
#main-doc {
  border: 5px solid green;
  padding: 1px 16px;
  margin-left: 12.5%;
  height: 1000px;
}
section header {
  text-align: left;
}
code {
  display: block;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  position: relative;
  line-height: 2;
  background-color: #282c34;
  color: #7da5bf;
}
