
header {
  padding: 8px 16px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'IBM Plex Sans', sans-serif;
}
nav {
  height: 100%;
  min-width: 290px;
  top: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  border-right: solid;
  background-color: #282c34;
  color: #7da5bf;
  cursor: pointer;
}
nav a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 8px 16px;
  border-bottom: 1px solid #555;
  color: #9f98ec;
  font-weight: 500;
}
nav a:last-child {
  border-bottom: none;
}
nav a:hover{
  background-color: #e06c60;
  color: white;
  text-align: right;
}
/*
.active {
  background-color: #555;
  color: #d19a66;
}
*/
#main-doc  {
  min-width: 600px;
  position: absolute;
  padding-top: 1%;
  margin-left: 320px;
  padding: 15px;
  height: 2000px;
}
.main-section {
}
section header {
  text-align: left;

}
/*section article {
  position: relative;
  width: 80em;
}*/
code {
  width: 60%;
  display: block;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  line-height: 1.6;
  background-color: #282c34;
  color: #7da5bf;
  margin: 4% auto 4% 3%;
  padding: 20px;
}
ol code {       /*overrides code white-space from pre to normal */
  white-space: normal;
}
li {
  margin-left: 9%;
}
mark {
  background-color: rgba( 40, 44, 52, .8);

  color: #f6f7ff;
  padding: 2px 4px 2px 4px;
}
